

.jumbotron {
    background: rgba(169,169,169, 0.3);
    text-align:center;
}

.jumbotron {
    background-image: url("http://java.codeup.com/examples/bootstrap/pizza.png");
    height: 100%;
    background-size: cover;
}

.h1 {

}

