.jumbotron {
    background-image: url("http://java.codeup.com/examples/bootstrap/pizza.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.jubotron > h1 {
    background-color: rgba(169,169,169, 0.3);
    text-align: center;
}
